// app global css
fluid-font-size($minimumSize = 12, $maximumSize = 36, $minimumViewportWidth = 300, $maximumViewportWidth = 1600)
  font-size: 'calc(%spx + (%s - %s) * ((100vw - %spx) / (%s - %s))) !important' % ($minimumSize $maximumSize $minimumSize $minimumViewportWidth $maximumViewportWidth $minimumViewportWidth)

for num in (8..28)
  .fontsize-{num}
    fluid-font-size num (num*2+2) 300 1800

p {
  margin: 0;  
}

.fa {
  font-family: FontAwesome;
}

.screen {
  outline: solid;
  outline-width: 16px;
  min-width: 500px;
  min-height: 400px;
  max-width: 750px;
  max-height: 600px;
  font-family: monospace;

  width: 500px;
  height: 400px;
  margin: auto;
}

.q-pa-md {
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  margin: 0;
  padding: 0.65em 1em;
  border: 1px solid black;
  color: black;
  fluid-font-size 12 (12*2+2) 300 1800
}

button:active:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

.nav-button {
  width: 150px;
  margin: 0;
}

.alert {
  color: red;
  border-color: red;  
}

.blue {
  color: blue;  
}

.dash {
  border-style: double;
  border-radius: 0;
  border-width: 0.15em;
  fluid-font-size 30 (30*2+2) 300 1800
  padding: 0 0.5em;
}

.min-line {
  line-height: 0.8em;
  height: 1em;
}

.clear {
  border: none;
  padding: 0;
}

.container-left-right {
  margin: 0 15px;
}

@media only screen and (max-width: 800px) {
  .screen {
    width: 500px;
    height: 400px;
    outline: none;
  }
  .content {
    height: 350px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 800px) {
  .screen {
    margin-top: 120px;
    width: 600px;
    height: 500px;
  }
  button {
    padding: 0.5em 1em;
  }
  .nav-button {
    width: 180px;
  }
  .content {
    height: 437.5px;
  }
}

@media only screen and (min-width: 1200px) {
  .screen {
    margin-top: 150px;
    width: 750px;
    height: 600px;
  }
  button {
    padding: 0.35em 0.7em;
  }
  .nav-button {
    width: 220px;
  }
  .content {
    height: 525px;
  }
}